In [1]:
import pandas as pd

In [2]:
path_snis = '..\data\snis_2019.csv'
path_datasus = '..\data\datasus_mortalidade_sexo_escolaridade_2019.csv'
path_template = '..\data\catalogoCidades.csv'

In [3]:
snis = pd.read_csv(path_snis, encoding = 'UTF-8')
datasus = pd.read_csv(path_datasus, encoding = 'UTF-8')
template = pd.read_csv(path_template, encoding = 'UTF-8')

In [4]:
snis_datasus = pd.merge(snis, datasus, how="left", on=["codigo_municipio_sem_digito"], suffixes=("", "_" + str(2019) + '_'))

In [5]:
snis_datasus.shape

(5571, 24)

In [6]:
template["codigo_municipio_sem_digito"] = template["codigo_municipio_sem_digito"].astype(str)
template.rename(columns = {'nome_municipio': 'Município'}, inplace = True)

In [7]:
data_final = pd.merge(template, snis_datasus, how = "left", on = ['codigo_municipio_sem_digito'])

In [8]:
data_final = data_final.drop(['Município_y', 'Município_2019', 'Município_2019_'], axis = 1)

In [9]:
data_final.rename(columns = {'Município_x': 'Município'}, inplace = True)

In [10]:
data_final.head(1)

,codigo_municipio_completo,Município,codigo_municipio_sem_digito,cityId,capital,country,codigo_tse,Estado,AG001 - População total atendida com abastecimento de água,IN006_AE - Tarifa média de esgoto,...,Obitos 1 a 3 anos escolaridade,Obitos 4 a 7 anos escolaridade,Obitos 8 a 11 anos escolaridade,Obitos 12 anos e mais escolaridade,Obitos Escolaridade Ignorada,Obitos Totais (com e sem escolaridade),Obitos Masc,Obitos Fem,Obitos Sexo Ignorado,Total obitos (Masc e Fem)
0,1100015,Alta Floresta D'Oeste,110001,5be344c0628a9e1c127931b8,0,Brazil,310,RO,2462.0,68.94,...,20,12,6,3,24,84.0,52,31,1,84.0

In [11]:
path_save = '..\data\snis_datasus_2019.csv'

In [12]:
data_final.to_csv(path_save, index = False)