In [1]:
import pandas as pd

In [2]:
year = 2019

In [3]:
path_obitos_ocorrenc_por_municipio_sexo = '..\data_raw\obitos_ocorrenc_por_municipio_sexo.csv'

In [4]:
path_obitos_ocorrenc_por_municipio_escolaridade = '..\data_raw\obtos-ocorrencia-municio-escolaridade.csv'

In [5]:
def which_encoder( path ):
    with open(path) as f:
        return f.encoding

In [6]:
obitos_ocorrenc_por_municipio_sexo = pd.read_csv(path_obitos_ocorrenc_por_municipio_sexo, skiprows = 3, nrows = 5565, sep = ";", encoding= which_encoder(path_obitos_ocorrenc_por_municipio_sexo))
obitos_ocorrenc_por_municipio_escolaridade = pd.read_csv(path_obitos_ocorrenc_por_municipio_escolaridade, skiprows = 3, nrows = 5565, sep = ";", encoding= which_encoder(path_obitos_ocorrenc_por_municipio_escolaridade))

In [7]:
obitos_ocorrenc_por_municipio_escolaridade.shape

(5565, 8)

In [8]:
obitos_ocorrenc_por_municipio_sexo.rename(columns = {'codigo_municipio_completo': 'codigo_municipio_sem_digito', 'Masc': 'Obitos Masc', 'Fem': 'Obitos Fem', 'Ign': 'Obitos Sexo Ignorado', 'Total': 'Total obitos (Masc e Fem)'}, inplace = True)
obitos_ocorrenc_por_municipio_escolaridade.rename(columns = {'codigo_municipio_completo': 'codigo_municipio_sem_digito', 'Nenhuma': 'Obitos Nenhuma escolaridade', '1 a 3 anos': 'Obitos 1 a 3 anos escolaridade', '4 a 7 anos': 'Obitos 4 a 7 anos escolaridade', '8 a 11 anos': 'Obitos 8 a 11 anos escolaridade', '12 anos e mais': 'Obitos 12 anos e mais escolaridade', 'Ignorado': 'Obitos Escolaridade Ignorada', 'Total': 'Obitos Totais (com e sem escolaridade)'}, inplace =  True)

In [9]:
obitos_ocorrenc_por_municipio_sexo['codigo_municipio_sem_digito'] = obitos_ocorrenc_por_municipio_sexo['Município'].apply(lambda row: row[:6])
obitos_ocorrenc_por_municipio_sexo['Município'] = obitos_ocorrenc_por_municipio_sexo['Município'].apply(lambda row: row[7:])

obitos_ocorrenc_por_municipio_sexo = obitos_ocorrenc_por_municipio_sexo[['codigo_municipio_sem_digito', 'Município', 'Obitos Masc', 'Obitos Fem', 'Obitos Sexo Ignorado', 'Total obitos (Masc e Fem)']]

In [10]:
obitos_ocorrenc_por_municipio_escolaridade.columns

Index(['Município', 'Obitos Nenhuma escolaridade',
       'Obitos 1 a 3 anos escolaridade', 'Obitos 4 a 7 anos escolaridade',
       'Obitos 8 a 11 anos escolaridade', 'Obitos 12 anos e mais escolaridade',
       'Obitos Escolaridade Ignorada',
       'Obitos Totais (com e sem escolaridade)'],
      dtype='object')

In [11]:
obitos_ocorrenc_por_municipio_escolaridade['codigo_municipio_sem_digito'] = obitos_ocorrenc_por_municipio_escolaridade['Município'].apply(lambda row: row[:6])
obitos_ocorrenc_por_municipio_escolaridade['Município'] = obitos_ocorrenc_por_municipio_escolaridade['Município'].apply(lambda row: row[7:])

obitos_ocorrenc_por_municipio_escolaridade = obitos_ocorrenc_por_municipio_escolaridade[['codigo_municipio_sem_digito', 'Município', 'Obitos Nenhuma escolaridade','Obitos 1 a 3 anos escolaridade', 'Obitos 4 a 7 anos escolaridade', 'Obitos 8 a 11 anos escolaridade', 'Obitos 12 anos e mais escolaridade','Obitos Escolaridade Ignorada', 'Obitos Totais (com e sem escolaridade)']]

In [12]:
obitos_ocorrenc_por_municipio_escolaridade.head(5)

,codigo_municipio_sem_digito,Município,Obitos Nenhuma escolaridade,Obitos 1 a 3 anos escolaridade,Obitos 4 a 7 anos escolaridade,Obitos 8 a 11 anos escolaridade,Obitos 12 anos e mais escolaridade,Obitos Escolaridade Ignorada,Obitos Totais (com e sem escolaridade)
0,110001,Alta Floresta D'Oeste,19,20,12,6,3,24,84
1,110037,Alto Alegre dos Parecis,10,7,1,1,-,7,26
2,110040,Alto Paraíso,11,6,10,1,1,14,43
3,110034,Alvorada D'Oeste,18,7,12,8,1,-,46
4,110002,Ariquemes,129,239,59,35,16,74,552

In [13]:
obitos_ocorrenc_por_municipio_sexo.head(5)

,codigo_municipio_sem_digito,Município,Obitos Masc,Obitos Fem,Obitos Sexo Ignorado,Total obitos (Masc e Fem)
0,110001,Alta Floresta D'Oeste,52,31,1,84
1,110037,Alto Alegre dos Parecis,17,9,-,26
2,110040,Alto Paraíso,35,8,-,43
3,110034,Alvorada D'Oeste,27,19,-,46
4,110002,Ariquemes,348,204,-,552

In [156]:
datasus = pd.merge(obitos_ocorrenc_por_municipio_escolaridade, obitos_ocorrenc_por_municipio_sexo, how = 'left', on = ['codigo_municipio_sem_digito'], suffixes=("", "_" + str(2019)))

In [157]:
datasus.head(5)

,codigo_municipio_sem_digito,Município,Obitos Nenhuma escolaridade,Obitos 1 a 3 anos escolaridade,Obitos 4 a 7 anos escolaridade,Obitos 8 a 11 anos escolaridade,Obitos 12 anos e mais escolaridade,Obitos Escolaridade Ignorada,Obitos Totais (com e sem escolaridade),Município_2019,Obitos Masc,Obitos Fem,Obitos Sexo Ignorado,Total obitos (Masc e Fem)
0,110001,Alta Floresta D'Oeste,19,20,12,6,3,24,84,Alta Floresta D'Oeste,52,31,1,84
1,110037,Alto Alegre dos Parecis,10,7,1,1,-,7,26,Alto Alegre dos Parecis,17,9,-,26
2,110040,Alto Paraíso,11,6,10,1,1,14,43,Alto Paraíso,35,8,-,43
3,110034,Alvorada D'Oeste,18,7,12,8,1,-,46,Alvorada D'Oeste,27,19,-,46
4,110002,Ariquemes,129,239,59,35,16,74,552,Ariquemes,348,204,-,552

In [158]:
datasus.shape

(5565, 14)

In [159]:
path_save = '..\data\datasus_mortalidade_sexo_escolaridade_2019.csv'

In [160]:
datasus.to_csv(path_save, index = False, encoding = 'UTF-8')